*{
    margin: 0px;
}
body{
    background-color: grey;
}
main{
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    /* background-color: aqua; */
}

.container1{
    margin-top: 10px;
    min-height: 20vh;
    background-color: rgb(175, 115, 115);
    border: solid black;
    text-align: center;

}
.container1 h1{
    color: white;
    position: relative;
    top: 60px;

}


.container2{
    margin-top: 10px;
    background-color: lightblue;
    min-height: 33vh;
    border: solid black;
    /* display: table; */
}
.container2 header, .container3 header {
    background-color:green;
    color: white;
    font-size:26px;

}
.container2 ul{
    display: table;

}
.container2 ul li{
    text-decoration: none;
    display: table-cell;
    vertical-align:middle;
    padding-left: 26px;
    
}
    
.container3{
    margin-top: 10px;
    border: solid black;
    background-color: lightblue;
    min-height: 33vh;
    
}

#frequency-Min, #destination, #time, #trainName, #submitBtn{
    margin:10px;
}

/* js style */
#currentTime{
    font-size: 30px;
    color: white;
}